<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="ffb2f08e-b0b5-48f7-a3dd-b3897f30c239" Publisher="CN=Traxx" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="ffb2f08e-b0b5-48f7-a3dd-b3897f30c239" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>TraxxPlayer</DisplayName>
    <PublisherDisplayName>Traxx</PublisherDisplayName>
    <Logo>Assets\100x100.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TraxxPlayer.UI.App">
      <uap:VisualElements DisplayName="TraxxPlayer" Square150x150Logo="Assets\150x150.png" Square44x44Logo="Assets\44x44.png" Description="Music player using SoundCloud API" BackgroundColor="#464646">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\badge.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\310x310.png" Square71x71Logo="Assets\71x71.png" ShortName="TraxxPlayer">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\splash.png" />
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="TraxxPlayer.BackgroundAudioTask.BackgroundAudioTask">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>